$wild-sand: #f7f7f7;
$emperor: #555;
$alto: #ddd;
$black: #000;
$white: #fff;
$azure-radiance: #007bff;
$endeavour: #0056b3;
$dusty-gray: #999;
$mine-shaft: #333;
$persimmon: #ff6347;
$red: #ff0000;
$forest-green: #33a22d;
$gallery: #f0f0f0;
$silver: #ccc;