@use './variables' as *;

.horse-list {
  &__title {
    font-size: 24px;
    margin-bottom: 10px;
    color: $mine-shaft;
  }

  &__table-wrapper {
    max-height: 700px;
    overflow-y: auto; 
    border: 1px solid $alto; 
    border-radius: 8px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__table th, &__table td {
    padding: 8px;
    text-align: center;
    border: 1px solid $alto;
  }

  &__table th {
    background-color: $alto;
    color: $black;
    position: sticky;
    top: -1px; 
    z-index: 1;
  }

  &__table td {
    background-color: $white;
    color: $black;
  }

  &__table td:first-child {
    text-transform: capitalize;
  }

  &__table td:nth-child(3) {
    font-weight: bold;
    color: $white;
  }
}